# ignore all files
**
# whitelist included files
!LICENSE
!CHANGELOG.md
!images/icon_compressed.png
!images/icon.svg
!media/main.css
!media/main.js
!media/reset.css
!media/vscode.css
!out/extension.js
